In [7]:
print("Hello, Jupyter!")

Hello, Jupyter!

In [8]:
# Simple Mathematical Calculation
result = 5 + 7
result

12

In [9]:
y=12
print(y)

12

In [10]:
# Data Manipulation Example
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})
df

   A  B
0  1  4
1  2  5
2  3  6

In [15]:
m=50
n= 40
print(m*n)

2000